<a href="https://colab.research.google.com/github/shaileshmeivel/DataScience/blob/main/DataSciencePractice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

data = pd.Series( [2,3,4,5,6,5,])
data

1    3
2    4
3    5
dtype: int64

In [4]:
import pandas as pd
data=pd.DataFrame([['shailesh', 'M', 23, 'Clerk', '123-34'], ['elam','M', 22, 'Manager', '123-44']],
index= None,
columns = [ 'Name','Gender', 'Age', 'Desig', 'Phone'])
data

       Name Gender  Age    Desig   Phone
0  shailesh      M   23    Clerk  123-34
1      elam      M   22  Manager  123-44

In [5]:
dic = {"col" : [1,2,3],
       "col 2" : [1,2,3]}
df = pd.DataFrame(dic)
df

   col  col 2
0    1      1
1    2      2
2    3      3